In [1]:
import numpy as np
import pandas as pd

import dask.dataframe as dd
import dask.array as da
import dask.bag as db

sevn_output_Z0.001A1L1/sevn_output_Z0.001A1L1/0/evolved_0.dat

In [2]:
output = dd.read_csv('sevn_output_Z0.001A1L1/sevn_output_Z0.001A1L1/0/output_*.csv')
evolved = dd.read_table('sevn_output_Z0.001A1L1/sevn_output_Z0.001A1L1/0/evolved_*.dat', sep='\s+')
logfile = dd.read_table('sevn_output_Z0.001A1L1/sevn_output_Z0.001A1L1/0/logfile_*.dat', sep=';', header=None, names=['Object', 'name', 'ID', 'event', 'time', 'info'])

print(f'Number of pratitions for evolved files : {evolved.npartitions}')
print(f'Number of pratitions for output files : {output.npartitions}')
print(f'Number of pratitions for logfile files : {logfile.npartitions}')

Number of pratitions for evolved files : 30
Number of pratitions for output files : 60
Number of pratitions for logfile files : 30

Filtering output files to get only binaries black holes

In [4]:
idxBHBH=(output.RemnantType_0==6) & (output.RemnantType_1==6) & (output.Semimajor.notnull())
output_bhbh=output[idxBHBH] #Distributed DataFrame containing only binaries BB
# output_bhbh = output_bhbh.compute()

Filtering logfile files to count the number of RL overflows and CE

In [20]:
test_logfile = logfile.partitions[0].compute()

In [42]:
test_logfile[(test_logfile['Object']=='B') & (test_logfile['event']=='RLO_BEGIN')].groupby('name').count(3)

TypeError: count() takes 1 positional argument but 2 were given

In [37]:
test_logfile[(test_logfile['Object']=='B') & (test_logfile['event']=='RLO_BEGIN')].groupby('name').event.count().to_frame(name='RLO_BEGIN')

                   RLO_BEGIN
name
0_100007997087318          3
0_100012052065590          3
0_100033685856903          1
0_100092103196401          1
0_100169242642500          3
...                      ...
0_999818461840174          3
0_999834779179683          2
0_999869300318696          1
0_999922226594166          3
0_999962725556976          3

[22173 rows x 1 columns]

In [18]:
#NON RANNARLO, e' un reperto storico
# logfile[(logfile['event']=='RLO_BEGIN')].groupby('name').event.value_counts().compute()
logfile[(logfile['event']=='RLO_BEGIN')].groupby('name').count().compute()

                   Object  ID  event  time  info
name
0_100007997087318       3   3      3     3     3
0_100012052065590       3   3      3     3     3
0_100033685856903       1   1      1     1     1
0_100092103196401       1   1      1     1     1
0_100169242642500       3   3      3     3     3
...                   ...  ..    ...   ...   ...
0_999743251118553       1   1      1     1     1
0_999802623413951       3   3      3     3     3
0_999827934345559       2   2      2     2     2
0_999900380990405       1   1      1     1     1
0_999968173656181       2   2      2     2     2

[667055 rows x 5 columns]

In [8]:
bhbh = output_bhbh.merge(evolved, on='name', how='inner')
# bhbh.head()